<form #editProfileForm="ngForm">
  <ion-card class="edit-profile-form">
    <ion-card-content>
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="profile.firstName" name="firstName" #firstName="ngModel" required></ion-input>
      </ion-item>
      <div padding *ngIf="firstName.touched && firstName.invalid">
        <span class="global__input-error">First name is required <strong>required</strong></span>
      </div>
  
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="profile.lastName" name="lastName" #lastName="ngModel" required></ion-input>
      </ion-item>
      <div padding *ngIf="lastName.touched && lastName.invalid">
        <span class="global__input-error">Last name is <strong>required</strong></span>
      </div>
  
      <ion-item>
        <ion-label floating>Date of Birth</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="profile.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" required></ion-datetime>
      </ion-item>
      <div padding *ngIf="dateOfBirth.touched && dateOfBirth.invalid">
        <span class="global__input-error">Date of birth is <strong>required</strong></span>
      </div>
    </ion-card-content>
  
    <ion-row>
      <button ion-button (click)="saveProfile()" [disabled]="editProfileForm.invalid">Save</button>
    </ion-row>
  </ion-card>
</form>