
<form #loginForm novalidate>
  <ion-card class="login-form">
    <ion-card-content>
      <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input 
        type="email" 
        [(ngModel)]="account.email" 
        name="email" 
        #email="ngModel" 
        required
        email="true"
        ></ion-input>
        <!-- pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" -->
      </ion-item>
      <div padding *ngIf="email.touched && email.invalid">
        <span class="global__input-error">Email address is not <strong>valid</strong></span>
      </div>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input 
        type="password" 
        [(ngModel)]="account.password" 
        name="password" 
        #password="ngModel"
        required
        pattern="[a-zA-Z0-9!@#$%^&*]{6,20}$"
        ></ion-input>
      </ion-item>
      <div padding *ngIf="password.touched && password.invalid">
        <span class="global__input-error">Password must at least be 6 characters long!</span>
      </div>
    </ion-card-content>
    <ion-row>
      <div>
        <button ion-button clear (click)="navigateToRegisterPage()">Register</button>
        <button ion-button (click)="login()">Login</button>
      </div>
    </ion-row>
  </ion-card>
</form>
