<div class="profile-view">

  <div class="avatar-container">
    <img class="avatar" src="../../assets/imgs/profile-placeholder.png" alt="Avatar">
  </div>

  <div class="user-profile" *ngIf="userProfile">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input [value]="userProfile.email" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>First Name</ion-label>
          <ion-input [value]="userProfile.firstName" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Last Name</ion-label>
          <ion-input [value]="userProfile.lastName" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Date Of Birth</ion-label>
          <ion-input [value]="userProfile.dateOfBirth" [readonly]="true"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-row>
        <button ion-button block clear (click)="signOut()">Sign Out</button>
      </ion-row>
    </ion-card>
  </div>
</div>