
<ion-item class="chat-message" *ngIf="chatIndex % 2 === 0; else align_right">
  <ion-avatar item-left>
    <img src="../../assets/imgs/avatar.png">
  </ion-avatar>
  <h2>Vanessa Damalie</h2>
  <p>I am good. How are you?</p>
</ion-item>

<ng-template #align_right>
  <ion-item class="chat-message">
    <ion-avatar item-right>
      <img src="../../assets/imgs/avatar.png">
    </ion-avatar>
    <div class="align-right">
      <h2>Christian Onwe</h2>
      <p>Hello guys. how are y'all?</p>
    </div>
  </ion-item>  
</ng-template>
